.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 150px;
  height: 150px;
}

.avatar-medium {
  width: 100px;
  height: 100px;
}

.avatar-small {
  width: 2.4em;
  height: 2.4em;
}
