:root {
  --primary-color: #2e3440;
  --bg-color: #eceff4;
  --card-color: #ffffff;
  --error-color: #bf616a;
  --disabled-color: #d8dee9;

  --max-width: 1440px;

  background-color: var(--bg-color);
  color: var(--primary-color);
}
